<app-item-table>
  <ng-template #header></ng-template>
  <ng-template #emptyItem>
    <p>Day la the item nà</p>
  </ng-template>
  <ng-template #item>
    <div class="search-form row app-flex mb-3"  [formGroup]="searchForm">
      <input type="text" class="form-control rounded-pill col-2 p-4 mr-3" placeholder="Nhập mã nhà cung cấp" formControlName="supplier_id"/>
      <input type="text" class="form-control rounded-pill col-2 p-4 mr-3" placeholder="Nhập tên nhà cung cấp" formControlName="supplier_name"/>
      <input type="text" class="form-control rounded-pill col-2 p-4 mr-3" placeholder="Nhập email nhà cung cấp" formControlName="email"/>
      <!--      <select class="form-control col-2 p-2 rounded-pill mr-3" name="category" [(ngModel)]="category_id"  >-->
      <!--        <option value="" selected>Chọn thể loại-->
      <!--        </option>-->
      <!--        <option *ngFor="let category of categories$ | async" [ngValue]="category.category_id" class="font-weight-bold">-->
      <!--          {{category?.category_name}}-->
      <!--          <div class=" px-3 py-2">-->
      <!--            <i class="fa fa-plus"></i>-->
      <!--          </div>-->
      <!--        </option>-->
      <!--      </select>-->
      <div class="btn-app rounded-pill col-1" (click)="search()">Tìm kiếm</div>
    </div>

    <div class=" d-flex flex-column h-100">
      <div class="table mt-3">
        <div class="table-header row font-weight-bold text-uppercase ng-star-inserted align-items-center my-3">
          <div class="col text-center text-app" style="max-width: 150px;">Mã nhà cung cấp</div>
          <div class="col text-center  text-app">Tên nhà cung cấp</div>
          <div class="col text-center text-app">Địa chỉ</div>
          <div class="col text-center text-app" style="max-width: 300px;">Email</div>
          <div class="col text-center text-app" style="max-width: 200px;">Phone</div>
          <div class="col text-center text-app" >Ghi chú</div>
        </div>
      </div>
      <ng-container *ngFor="let supplier_item of (supplier_list$ | async)?.items.slice().reverse(), let i = index">
        <app-supplier-row [supplier_item]="supplier_item" [index]="i" (click)="onViewSupplierDetail(supplier_item.supplier_id)"></app-supplier-row>
      </ng-container>
      <app-page-pagination class="mt-auto" (navigate)="navigate($event)" [paginationOpt]="current_pagination_opt$" [currentPage]="current_page$ | async">
      </app-page-pagination>
    </div>
  </ng-template>
</app-item-table>
