  <div class="Container-itwfbd-0 jFkAwY container-fluid">
    <div class="styles__StyledCartPage-sc-1n0ze23-0 BTbnH">
      <div class="cart">
        <div class="cart-inner">
          <div class="styles__StyledCartProducts-p4m208-0 dopPhM">
            <h2 class="font-weight-bold">
              Giỏ hàng <span class="cart-products__count">(1 sản phẩm)</span>
            </h2>
            <div class="cart-products-inner">
              <div class="cart-products__group">
                <a
                  data-view-id="cart_main_seller"
                  data-view-index="1"
                  href="#"
                  target="_blank"
                  class="cart-products__group-name"
                ><span>Trading</span>
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    size="20"
                    color="#787878"
                    height="20"
                    width="20"
                    xmlns="http://www.w3.org/2000/svg"
                    style="color: rgb(120, 120, 120)"
                  >
                    <path
                      d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
                    ></path>
                  </svg>
                </a>
                <ul class="cart-products__products">
                  <ng-container *ngFor="let detail of cartBooks">
                    <li class="cart-products__product mb-4">
                      <div class="cart-products__inner">
                        <div class="cart-products__img">
                          <a
                            data-view-id="cart_main_product"
                            data-view-index="ff29fb74-a4b1-11eb-a268-769a3ae258d1"
                            href="/product-p52789367.html?spid=52789368"
                          ><img
                            [src]="detail?.book?.image || 'assets/images/default-book.png'"
                            alt="Nhà Giả Kim (Tái Bản 2020)" class="w-100"
                          /></a>
                        </div>
                        <div class="cart-products__content ml-5 pl-3" >
                          <div class="cart-products__content--inner w-100">
                            <div class="cart-products__desc">
                              <a
                                class="cart-products__name font-16 font-weight-bold"
                                href="/product-p52789367.html?spid=52789368"
                              >{{detail?.book?.book_name}} (Tái Bản 2020)</a
                              >
                              <p class="cart-products__badge">
                                <span>Giao Nhanh 2h</span>
                              </p>
                              <p class="cart-products__author">
                            <span> - Tác giả: </span
                            ><a href="/author/paulo-coelho.html"
                              >{{detail?.book?.author?.author_name}}</a
                              >
                              </p>
                              <span class="cart-products__bookcare"
                              >Sách có thể bọc bằng
                            <a href="/bookcare">BookCare</a></span
                              >
                              <p class="cart-products__actions">
                            <span
                              data-view-id="cart_main_remove.product"
                              data-view-index="ff29fb74-a4b1-11eb-a268-769a3ae258d1"
                              class="cart-products__del"
                              (click)="increaseQuantity(detail,'delete')"
                            >Xóa</span
                            ><span
                                data-view-id="cart_main_buy.later"
                                data-view-index="ff29fb74-a4b1-11eb-a268-769a3ae258d1"
                                class="cart-products__buy-later"
                              >Để dành mua sau</span
                              >
                              </p>
                            </div>
                            <div class="cart-products__details">
                              <div class="cart-products__pricess">
                                <p class="cart-products__real-prices">{{detail?.book?.retail_price | vnd }}</p>
                                <p class="cart-products__discount-prices">
                                  <del>{{(detail?.book?.retail_price * 1.3).toFixed(0) | vnd }}</del>
                                  <span class="cart-products__percent-prices"
                                  >-33%</span
                                  >
                                </p>
                              </div>
                              <div class="cart-products__qty">
                                <div class="CartQty__StyledCartQty-o1bx97-0 iaIXXn">
                              <span
                                data-view-id="cart_main_quantity.decrease"
                                data-view-index="ff29fb74-a4b1-11eb-a268-769a3ae258d1"
                                class="qty-decrease"
                                (click)="increaseQuantity(detail,'decrease')"
                              >-</span
                              ><input
                                  type="tel"
                                  class="qty-input"
                                  value="1"
                                  [(ngModel)]="detail.quantity"
                                  (change)="changeQuantity()"
                                /><span
                                  data-view-id="cart_main_quantity.increase"
                                  data-view-index="ff29fb74-a4b1-11eb-a268-769a3ae258d1"
                                  class="qty-increase" (click)="increaseQuantity(detail,'increase')"
                                >+</span
                                >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ul class="cart-products__gift-items"></ul>
                    </li>
                  </ng-container>
                </ul>
                <div class="styles__StyledSellerDiscount-rbk7cj-0 bwCZXt">
                  <div class="wrapper" data-view-id="cart_seller.coupon_view.all">
                    <div class="description">Mã Khuyến Mãi</div>
                    <div class="small-coupon-list"></div>
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 24 24"
                      class="more"
                      color="#787878"
                      size="20"
                      height="20"
                      width="20"
                      xmlns="http://www.w3.org/2000/svg"
                      style="color: rgb(120, 120, 120)"
                    >
                      <path
                        d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-total-prices">
          <h2 class="cart-products__title">
            Thông tin giao hàng
          </h2>
          <div class="cart-total-prices__inner">
            <div class="styles__StyledShippingAddress-sc-1sjj51k-0 hCYeOT">
              <p class="heading">
                <span class="text">Địa chỉ nhận hàng</span>
              </p>
              <div class="form-group d-flex flex-row">
                <input type="text" class="form-control" style="height: 3.3rem; margin-right: 1rem;" placeholder="Tên người nhận" autofocus
                />
                <input type="tel" class="form-control" style="height: 3.3rem" placeholder="Số điện thoại người nhận" autofocus
                />
              </div>
              <div class="form-group d-flex flex-row">
                <input type="text" class="form-control"  style="height: 3.3rem" placeholder="Địa chỉ người nhận" autofocus
                />
              </div>

              <ng-container [formGroup]="locationForm">
                <div class="form-group d-flex flex-row w-100">
                  <app-material-input-autocomplete
                    class="w-100"
                    placeholder="Chọn tỉnh thành" textLabel="Tỉnh thành (*)" [options]="provincesList$ | async"
                    [displayMap]="displayMap" [valueMap]="valueMap" register="true"
                    formControlName="provinceCode">
                  </app-material-input-autocomplete>
                </div>
                <div class="form-group d-flex flex-row">
                  <app-material-input-autocomplete
                    class="w-100"
                    placeholder="Chọn quận huyện" textLabel="Quận huyện (*)" [options]="(districtsList$ | async) || []"
                    [displayMap]="displayMap" [valueMap]="valueMap"
                    formControlName="districtCode">
                  </app-material-input-autocomplete>
                </div>
                <div class="form-group d-flex flex-row">
                  <app-material-input-autocomplete
                    class="w-100"
                    placeholder="Chọn phường xã" textLabel="Phường xã (*)" [options]="(wardsList$ | async) || []"
                    [displayMap]="displayMap" [valueMap]="valueMap"
                    formControlName="wardCode">
                  </app-material-input-autocomplete>
                </div>
              </ng-container>

            </div>
            <div class="styles__StyledCartCoupon-sc-166rx9n-0 fmbmEN">
              <div class="title-usage">
                <p class="coupon-title">Khuyến mãi</p>
                <p class="max-usage">
                  Có thể chọn 2<img
                  class="max-usage__info"
                  src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/icons-info-gray.svg"
                  alt="info"
                />
                </p>
              </div>
              <div
                class="eligible_coupon_list"
                data-view-id="platform_coupon"
              ></div>
              <div
                data-view-id="platform_coupon.cart_coupon_view.all"
                class="show-more"
              >
                <img
                  src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_icon.svg"
                /><span>Chọn hoặc nhập Khuyến mãi </span>
              </div>
            </div>
            <div class="styles__StyledCartPrices-sc-1op1gws-0 etSUOP">
              <div class="prices">
                <ul class="prices__items">
                  <li class="prices__item">
                  <span class="prices__text">Tạm tính</span
                  ><span class="prices__value">{{(total).toFixed(0) | vnd}}</span>
                  </li>
                </ul>
                <p class="prices__total">
                <span class="prices__text">Thành tiền</span
                ><span class="prices__value prices__value--final"
                >{{(total).toFixed(0) | vnd}}<i>(Đã bao gồm VAT nếu có)</i></span
                >
                </p>
              </div>
            </div>
            <div class="styles__StyledCartPrices-sc-1op1gws-0 etSUOP p-4 mt-3" style="background: white">
              <p class="heading font-weight-bold">Thanh toán</p>
              <div class=" px-0 pb-1" style="height: 50px">
                <button type="button" class="btn-outline-app btn-block w-100" style="font-size: 1.5rem"  (click)="CreateOrder()">Thanh toán hóa đơn</button>
              </div>
              <div class=" px-0 pb-1 mb-3">
                <div class="btn-outline-app btn-block w-100" style="font-size: 1.5rem"  #paypalRef></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
