.item-row {
    display: flex;
    transition: 0.5s;
    padding-left: 36px;
    height: 100px;
    cursor: pointer;
    align-self: center !important;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 8px 3px rgba(122, 159, 216, 0.2);
    margin-bottom: 20px;
    &:hover {
      background-color: #e4e4e4;
      border-left: 7px solid var(--app-color);

    }
  
    .row {
      .col {
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 22px;
      }
    }
  
    .trash-icon {
      border-radius: 50%;
      padding: 5px;
      background-color: #f5f5f5;
    }
  
    .trash-can {
      padding: 3px 20px 3px 2px;
      border-radius: 30px;
      margin-bottom: 5px;
      display: flex;
      width: auto;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      span {
        display: inline-block;
        color: #f5f5f5;
        margin-left: 10px;
        font-size: 0.8rem;
      }
    }
  }
  