<ng-container>
  <div class="d-flex justify-content-center align-items-center text-app font-weight-bold">
    <h1 class="font-weight-bold">Thông tin chi tiết hóa đơn <span>{{ (detail_order$ | async)?.order_id}}</span></h1>
  </div>
  <ng-container>
    <div class="d-flex flex-row p-5 mb-4">
      <div class="avatar col-3 mb-4">
        <div class="d-flex flex-column">
          <div class="image-wrapper">
            <img [src]="(detail_order$ | async)?.customer?.image || 'assets/images/default-avatar.png'" style="height: 100%; width: 66%; object-fit: cover;" alt="Avatar" />
          </div>
          <h1 class="text-app text-left font-weight-bold text-center my-4">Mã hóa đơn: {{(detail_order$ | async)?.order_id | standardizedId}}</h1>
          <h2 class="text-app text-left font-weight-bold text-center">Tổng tiền: {{(detail_order$ | async)?.total | vnd}}</h2>
        </div>
      </div>
      <div class=" col-9 d-flex flex-column">
        <div class="d-flex flex-column" >
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Mã hóa đơn: </b></div>
            <div class="col-9 text-app font-weight-bold">{{((detail_order$ | async)?.order_id | standardizedId ) || '-'}}</div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Khách hàng: </b></div>
            <div class="col-9 text-app font-weight-bold">{{((detail_order$ | async)?.customer?.customer_id | standardizedId) + '  -  ' + ((detail_order$ | async)?.customer?.last_name || " ") + ' ' + (detail_order$ | async)?.customer?.first_name || '-'}}</div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Nhân viên: </b></div>
            <div class="col-9 text-app font-weight-bold">{{((detail_order$ | async)?.employee?.employee_id | standardizedId) + '  -  ' + (detail_order$ | async)?.employee?.last_name + ' ' + (detail_order$ | async)?.employee?.first_name || '-'}}</div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Ngày mua: </b></div>
            <div class="col-9">{{((detail_order$ | async)?.create_at| date: 'dd/MM/yyyy')|| '-'}}</div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Loại: </b></div>
            <div class="col-9">{{(detail_order$ | async)?.type == 'in' && "Nhập" || "Xuất"}}</div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Tổng số lượng: </b></div>
            <div class="col-9">{{(total_quantity) || '-'}}</div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Trạng thái: </b></div>
            <div class="col-9 font-weight-bold" [ngClass]="{'text-danger': (detail_order$ | async)?.delete_at, 'text-success': !(detail_order$ | async)?.delete_at}">{{(!(detail_order$ | async)?.delete_at && "Hoàn thành" || "Đã hủy")|| "-"}}
            </div>
          </div>
          <div class="row py-3">
            <div class="col-2 text-center font-weight-bold"><b>Ghi chú: </b></div>
            <div class="col-9">{{(detail_order$ | async)?.note || '-'}}</div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="row py-3">
            <div class="col-2 app-flex">
              <div class="btn btn-outline-app" (click)="goBack()"> <i class="fa fa-arrow-left pr-1" aria-hidden="true">
                </i> Quay lại</div>
            </div>
            <ng-container>
              <div class="col-9 d-flex flex-row justify-content-end" >
                <div class="btn-danger  align-self-center mr-2" (click)="onOpenDeleteModal()" *ngIf="!(detail_order$ | async)?.delete_at">
                  <i class="fas fa-trash-alt trash-icon"></i>
                  <span class="ml-1" style="width: 70px;">Hủy bỏ</span>
                </div>

              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container class="container-fluid">
    <h1 class="font-weight-bold text-center text-app  mb-2 mt-4">Danh sách sách mượn</h1>
    <div class="table-header row font-weight-bold text-uppercase ng-star-inserted align-items-center my-5">
      <div class="col text-center text-app" style="max-width: 200px" >STT</div>
      <div class="col text-center text-app" style="max-width: 200px">Mã sách</div>
      <div class="col text-center text-app" >Tên sách</div>
      <div class="col text-center text-app" style="max-width: 150px">Số lượng</div>
      <div class="col text-center text-app" >Đơn giá</div>
      <div class="col text-center text-app" >Giảm giá</div>
      <div class="col text-center text-app" >Thành tiền</div>
    </div>

    <div *ngFor="let order_detail of (detail_order$ | async)?.order_details; let i = index" [attr.data-index]="i" class="item-row pl-0">
      <div class="row">
        <div class="col text-center " style="max-width: 200px" >{{i + 1}}</div>
        <div class="col text-center text-app font-weight-bold" style="max-width: 200px">{{(order_detail.book?.book_id | standardizedId) || '-'}}</div>
        <div class="col text-center " >{{(order_detail.book?.book_name ) || '-'}}</div>
        <div class="col text-center " style="max-width: 150px">{{(order_detail.quantity ) || '-'}}</div>
        <div class="col text-center " >{{(order_detail?.retail_price | vnd ) || '-'}}</div>
        <div class="col text-center " >{{(order_detail?.discount | vnd ) || '-'}}</div>
        <div class="col text-center text-app font-weight-bold" >{{(order_detail?.total | vnd ) || '-'}}</div>
      </div>
    </div>
    <div class="d-flex justify-content-end mr-5">
    </div>
  </ng-container>
</ng-container>
