<div class="ng-container">
  <h1 class="text-app text-center font-weight-bolder">CHI TIẾT SẢN PHẨM</h1>
  <div class="Container-itwfbd-0 jFkAwY  pt-3">
    <div class="indexstyle__Wrapper-qd1z2k-0 llsmxc pt-3">
      <div class="style__ProductImagesStyle-sc-1e5ea5s-0 iTTtrw">
        <div class="group-images">
          <div class="thumbnail" data-view-id="pdp_main_view_gallery">
            <div class="ImageLens__Wrapper-uaw433-0 bhKhSH">
              <div class="container">
                <div style="width: 444px; height: 444px; z-index: 0">
                  <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                    <img
                      [src]="(detailBook$ | async)?.image || 'assets/images/default-book.png'"
                      alt="Hộp Blueup TOEIC 600 Essential Flashcards For Toeic Trọn Bộ "
                      class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="image-badges"></div>
        </div>
        <div class="review-images">
          <div class="review-images__list">
            <a data-view-id="pdp_main_view_photo" class="active">
              <div>
                <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                  <img
                    src="https://salt.tikicdn.com/cache/w64/media/catalog/product/7/7/7703391591814-1-u2683-d20160709-t085119.u634.d20161011.t134215.433029.jpg"
                    alt="product-img-0"
                    class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                  />
                </div>
              </div> </a
            >
            <a data-view-id="pdp_main_view_photo" class="">
            <div>
              <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                <img
                  src="https://salt.tikicdn.com/cache/w64/media/catalog/product/7/7/7703391591814-2-u2683-d20160709-t085119.u634.d20161011.t134215.476495.jpg"
                  alt="product-img-1"
                  class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                />
              </div>
            </div> </a
          >
            <a data-view-id="pdp_main_view_photo" class="">
            <div>
              <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                <img
                  src="https://salt.tikicdn.com/cache/w64/media/catalog/product/7/7/7703391591814-3-u2683-d20160709-t085119.u634.d20161011.t134215.524418.jpg"
                  alt="product-img-2"
                  class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                />
              </div>
            </div> </a
          >
            <a data-view-id="pdp_main_view_photo" class="">
            <div>
              <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                <img
                  src="https://salt.tikicdn.com/cache/w64/media/catalog/product/7/7/7703391591814-4-u2683-d20160709-t085119.u634.d20161011.t134215.605025.jpg"
                  alt="product-img-3"
                  class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                />
              </div>
            </div> </a>
            <a data-view-id="pdp_main_view_photo" class="">
            <div>
              <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                <img
                  src="https://vcdn.tikicdn.com/cache/w64/ts/review/3e/bc/f9/762fa1f534fb8197d110fee8f1b02ee3.jpg"
                  alt="product-img-4"
                  class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                />
              </div>
            </div> </a
          >
            <a data-view-id="pdp_main_view_gallery" class="open-gallery">
            <div>
              <div class="PictureV2__StyledWrapImage-tfuu67-0 kttJTC">
                <img
                  src="https://vcdn.tikicdn.com/cache/w64/ts/review/91/c0/c4/a8c24a1d2d4748c9e06bfbdd1c1c326d.jpg"
                  alt="product-img-5"
                  class="PictureV2__StyledImage-tfuu67-1 hQOEQo"
                />
              </div>
            </div>
            <span>Xem thêm 39 hình</span></a
          >
          </div>
          <div class="row my-5">
            <div class="col-sm-12 text-center">
              <h3 class="font-weight-bolder">Đánh giá chung</h3>
              <ul class="list-inline rating-list-2"
                  *ngFor="let star of stars" style="display: inline-block" >
                <li
                    [ngClass]="{'selected': (star <= (detailBook$ | async)?.rate_star)}">
                  <i class="fa fa-star fa-3x"></i>
                </li>
              </ul>
            </div>

          </div>
          <div class=" text-app text-center">
            ( Có {{(detailBook$ | async)?.rate_count}} lượt đánh giá)
          </div>
          <div class=" text-app text-center">
            (Có {{comments?.length}} lượt bình luận)
          </div>
        </div>
      </div>
      <div class="indexstyle__StyledSeperate-qd1z2k-1 giarZk"></div>
      <div class="indexstyle__ProductContent-qd1z2k-2 drtSpW">
        <div class="header">
          <div class="brand flex-column">
          <span class="brand-and-author"
          ><h4>
              Thương hiệu:
              <span
                href="/thuong-hieu/blueup.html"
                data-view-id="pdp_details_view_brand"
                class="font-weight-bold"
              > Blueup</span
              >
            </h4></span
          >
            <div class="bestseller">
              <p>
                <span>Đứng thứ 2 trong </span>
                <a
                  data-view-id="pdp_details_view_bestseller"
                  href="/bestsellers-month/flashcard-tieng-anh-toeic/c6264"
                >Top 1000
                  <!-- -->sản phẩm được yêu thích nhất<!-- --></a
                >
              </p>
            </div>
            <div class="style__StyledProductAction-sc-1b8sgmz-0 dafovQ d-flex flex-row my-3">
              <div class="icon-wrap" data-view-id="pdp_details_like mr-3 pr-3">
                <img
                  src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-like.svg"
                />
              </div>
              <div class="icon-wrap shareFB" data-view-id="pdp_details_share">
                <img
                  src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/icons-account-social.svg"
                />
              </div>
            </div>
          </div>
          <h1 class="title font-weight-bold">
            {{(detailBook$ | async)?.book_name}}
          </h1>
          <div class="indexstyle__Review-qd1z2k-3 djIasU">
            <p style="font-size: 16px" class="Stars__Wrapper-sc-1t6kjxa-0 iQZcjJ">
              <i class="icomoon icomoon-star"></i
              ><i class="icomoon icomoon-star"></i
            ><i class="icomoon icomoon-star"></i
            ><i class="icomoon icomoon-star"></i
            ><span class="half-star"
            ><i class="icomoon icomoon-star"></i
            ><i class="icomoon icomoon-star"></i
            ></span>
            </p>
            <a class="number" data-view-id="pdp_main_view_review"
            >(Xem {{(detailBook$ | async)?.rate_count}} đánh giá)</a
            >
          </div>

          <div class="row">
            <div class="col-sm-12">
              <ul class="list-inline rating-list"
                  *ngFor="let star of stars" style="display: inline-block" >
                <li (click)="countStar(star)"
                    [ngClass]="{'selected': (star <= selectedStar)}">
                  <i class="fa fa-star fa-2x"></i>
                </li>
              </ul>
            </div>
            <div class="btn btn-outline-app px-5" style="padding-left: 15px; margin-left: 15px" (click)="rateStar()" >Đánh giá</div>
            <div class=" btn-app px-5" style="padding-left: 15px; margin-left: 15px" (click)="compare()" >So sánh</div>
          </div>
        </div>
        <div class="body">
          <div class="summary">
            <div class="left">
              <div class="price-and-icon">
                <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx">
                  <div class="product-price">
                  <span class="product-price__current-price">{{(detailBook$ | async)?.retail_price | vnd}}</span
                  ><span class="product-price__list-price">{{(detailBook$ | async)?.retail_price * 1.3| vnd}}</span
                  ><span class="product-price__discount-rate">-30%</span>
                  </div>
                </div>
                <div class="style-sc-11ucdwk-0 jbwqZc">
                  <div class="item">
                    <img
                      class="icon"
                      src="https://salt.tikicdn.com/ts/upload/2e/da/c9/4b9c0150392c753ccb65b2595500e9d6.png"
                      width="130"
                      height="24"
                    /><img
                    class="view-more"
                    src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/question.svg"
                  /><a
                    data-view-index="0"
                    data-view-id="pdp_minor_badge"
                    class="view-more-link"
                    href="https://hotro.tiki.vn/hc/vi/sections/900000370543-Ch%C6%B0%C6%A1ng-tr%C3%ACnh-R%E1%BA%BB-h%C6%A1n-ho%C3%A0n-ti%E1%BB%81n-"
                    target="_blank"
                  ></a>
                  </div>
                  <div class="item">
                  <span>Hoàn tiền 15% tối đa 600k/tháng</span
                  ><img
                    class="view-more"
                    src="https://frontend.tikicdn.com/_desktop-next/static/img/pdp_revamp_v2/question.svg"
                  /><a
                    data-view-index="1"
                    data-view-id="pdp_minor_badge"
                    data-view-label="Hoàn tiền 15% tối đa 600k/tháng"
                    class="view-more-link"
                    href="https://tiki.vn/chuong-trinh/mo-the-tikicard?src=pdp_badge"
                    target="_blank"
                  ></a>
                  </div>
                </div>
              </div>
              <div class="style__StyledProductPromotionBlock-sc-18dba87-0 dEZLTy"><div class="style__StyledCoupon-sc-8bmb3t-0 eLHrRT coupon" data-view-id="pdp_main_discount_coupon"><div class="coupon__text">1 Mã Giảm Giá</div><div class="coupon__tags"><div class="coupon__tag">Giảm 10%</div><img class="view-more-coupon" src="https://salt.tikicdn.com/ts/upload/63/43/b6/472934eece91531f0855b86a00a3b1a1.png"></div></div></div>
              <div class="DeliveryZone__StyledDeliveryZoneEmpty-sc-1maxvle-0 lijGxt"><div class="inner">Bạn hãy <span>NHẬP ĐỊA CHỈ</span> nhận hàng để được dự báo thời gian &amp; chi phí giao hàng một cách chính xác nhất.</div></div>
              <div class="indexstyle__AddToCart-qd1z2k-6 gyIkFE add-to-cart">
                <div class="qty-and-message">
                  <div class="QualityInput__Wrapper-sc-15mlmyf-0 iyaBQp">
                    <p class="label">Số Lượng: </p>
                    <div class="d-flex align-items-center line-quantity">
                      <div
                        role="group"
                        style="background: var(--app-color)"
                        class="btn-group border group-quantity w-100 h-100"
                      >
                        <button
                          type="button"
                          class="btn btn-sm border-0 bg-transparent"
                          (click)="DecreaseQuantity()"
                        >
                          <i class="fa fa-minus text-white"></i>
                        </button>
                        <input
                          [(ngModel)]="quantity"
                          type="number"
                          class="number-input text-center editable"
                          style="width: 8rem"
                          (ngModelChange)="ChangeQuantity($event)"
                          min="0"
                        />
                        <button
                          type="button"
                          class="btn btn-sm border-0 bg-transparent"
                          (click)="IncreaseQuantity()"
                        >
                          <i class="fa fa-plus text-white"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group-button">
                  <button
                    class="btn btn-add-to-cart"
                    style="
                    margin-top: 35px;
                    width: 300px;
                    height: 50px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    border-radius: 10px;
                  "
                    data-view-id="pdp_add_to_cart_button"
                    (click)="addToChart()"
                  >
                    Chọn mua
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="Container-itwfbd-0 jFkAwY">
    <div class="ProductSlide__Wrapper-sc-18ee076-0 bwVgyp">
      <h4 class="BlockTitle__Wrapper-qpz3fo-0 jHTCJn">Sản Phẩm Tương Tự</h4>
      <div class="slider-container">
        <div class="Slider__Wrapper-pmvh7n-0 fNfByj">
          <div class="slick-slider slick-initialized" dir="ltr">
            <a
              data-role="none"
              class="slick-arrow slick-prev slick-disabled"
              style="display: block"
            ><span class="icon"><i class="tikicon icon-arrow-back"></i></span
            ></a>
            <div class="slick-list">
              <div
                class="slick-track"
                style="
                width: 4216px;
                opacity: 1;
                transform: translate3d(0px, 0px, 0px);
              "
              >
                <ng-container *ngFor="let book of cate_books">
                  <div
                    data-index="1"
                    class="slick-slide slick-active"
                    tabindex="-1"
                    aria-hidden="false"
                    style="outline: none; width: 248px"
                  >
                    <div class="app-flex flex-column">
                      <div
                        data-view-id="pdp_similar_products_item"
                        title="Bộ KatchUp Flashcard TOEIC - High Quality - Trắng (01T)"
                        rel=""
                        class="Item__Wrapper-m1oy8w-0 hmrZzB"
                      >
                        <div  class="app-flex flex-column"
                          (click)="redirectBook(book.book_id)"
                        >
                          <div class="Item__Picture-m1oy8w-1 evEsoa">
                            <img
                              [src]="book?.image || 'assets/images/default-book.png'"
                              alt="Bộ KatchUp Flashcard TOEIC - High Quality - Trắng (01T)"
                              class="LazyLoadImage__Wrapper-sc-12s4rj6-0 qixAr"
                              style="width: auto; height: 100%; opacity: 1"
                            />
                          </div>
                          <div class="title" style="max-height: 40px; height: auto">
                            {{book.book_name}}
                          </div>
                          <div class="bottom" style="flex: unset">
                            <div class="Item__Review-m1oy8w-3 ibucdt">
                              <p
                                class="Stars__Wrapper-sc-1t6kjxa-0 iQZcjJ"
                                style="font-size: 13px"
                              >
                                <i class="icomoon icomoon-star"></i
                                ><i class="icomoon icomoon-star"></i
                              ><i class="icomoon icomoon-star"></i
                              ><i class="icomoon icomoon-star"></i
                              ><i class="icomoon icomoon-star"></i>
                              </p>
                              <p class="number">(2 nhận xét)</p>
                            </div>
                          </div>
                          <p class="price">
                            {{book.retail_price.toFixed(0) | vnd}}<span class="percent">-30%</span
                          ><span class="original">{{(book.retail_price * 1.3).toFixed(0) | vnd}}</span>
                          </p></div
                        >
                      </div>
                    </div>
                  </div>
                </ng-container>
               
              </div>
            </div>
            <a
              data-role="none"
              class="slick-arrow slick-next"
              style="display: block"
            ><span class="icon"><i class="tikicon icon-arrow-back"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Container-itwfbd-0 jFkAwY">
    <div class="ProductDescription__Wrapper-fuzaih-0 iVoMSb">
      <div class="left">
        <h4 class="BlockTitle__Wrapper-qpz3fo-0 jHTCJn">Thông tin chi tiết</h4>
        <div class="group">
          <div class="content has-table">
            <table>
              <tbody>
              <tr>
                <td>Thương hiệu</td>
                <td>Blueup</td>
              </tr>
              <tr>
                <td>Xuất xứ</td>
                <td>Việt Nam</td>
              </tr>
              <tr>
                <td>Kích thước</td>
                <td>9 x 12 cm</td>
              </tr>
              <tr>
                <td>SKU</td>
                <td>7704612462135</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="group">
          <h4 class="BlockTitle__Wrapper-qpz3fo-0 jHTCJn">MÔ TẢ SẢN PHẨM</h4>
          <div class="content">
            <div class="ToggleContent__Wrapper-sc-1hm81e2-1 iGyNLs">
              <div class="ToggleContent__View-sc-1hm81e2-0 iDwhRg">
                <div>
                  <p style="text-align: justify">
                  <span style="font-size: medium; color: #088ab7"
                  ><strong
                  >{{(detailBook$ | async)?.book_name}}</strong
                  ></span
                  >
                  </p>
                  <p style="text-align: justify">
                    <strong>{{(detailBook$ | async)?.description}}</strong>
                  </p>
                  <p style="text-align: justify">
                    <strong>*** Có phải từ vựng là ác mộng của bạn?</strong>
                  </p>
                  <p style="text-align: justify">
                    + Bạn học không nổi hằng trăm từ vựng TOEIC để thi
                  </p>
                  <p style="text-align: justify">
                    + Bạn quên các từ vựng vừa học chỉ sau một thời gian ngắn
                  </p>
                  <p style="text-align: justify">
                    + Bạn không có thời gian học từ vựng vì quá bận rộn
                  </p>
                  <p style="text-align: justify">
                    + Bạn thử mọi cách: từ điển, học gạo... vẫn không hiệu quả
                  </p>
                  <p style="text-align: justify">
                    + Học từ vựng quá khô khan, nhàm chán và buồn ngủ
                  </p>
                  <p>
                    <img
                      style="
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                    "
                      title="Hộp Blueup TOEIC 600 Essential Flashcards For Toeic Trọn Bộ "
                      [src]="(detailBook$ | async)?.image"
                      alt="Hộp Blueup TOEIC 600 Essential Flashcards For Toeic Trọn Bộ "
                      width="400"
                      height="400"
                    />
                  </p>
                  <p style="text-align: justify">
                    <strong
                    >*** Flashcard Blueup là giải pháp tối ưu cho bạn. Bởi
                      vì:</strong
                    >
                  </p>
                  <p style="text-align: justify">
                    1. Bạn sẽ <strong>học rất nhanh</strong>. Phương pháp
                    flashcard đã được khoa học chứng minh, bạn sẽ thuộc đến 600 từ
                    vựng trong 1 tháng và không phải lo lắng về từ vựng TOEIC nữa.
                  </p>
                  <p style="text-align: justify">
                    2. <strong>Ghi nhớ mãi mãi. </strong>Nhờ vào mỗi từ vựng được
                    minh họa bằng hình ảnh sinh động. Hình ảnh giúp não bộ ghi nhớ
                    vượt trội và thậm chí sau thời gian dài, bạn vẫn nhớ được từ
                    vựng đã học.
                  </p>
                  <p style="text-align: justify">
                    3. <strong>Học mọi lúc mọi nơi</strong>. Thiết kế nhỏ gọn,
                    tiện dụng nên bạn có thể mang theo và học mọi lúc. Giúp bạn
                    tiết kiệm thời gian rãnh.
                  </p>
                  <p style="text-align: justify">
                    4.<strong> Nội dung chất lượng</strong>. Được biên soạn kỹ
                    lưỡng từ tài liệu "Barron's 600 essential words for the
                    TOEIC". Bộ tài liệu danh tiếng và chính thống luyện thi TOEIC.
                    Được kiểm duyệt bởi các chuyên gia trình độ cao và NXB Trẻ.
                  </p>
                  <p style="text-align: justify">
                    <strong
                    >*** Sản phẩm Flashcard Blueup Toeic phần 1 gồm những
                      gì?</strong
                    >
                  </p>
                  <p style="text-align: justify">
                    1. 600 thẻ từ vựng với từ tiếng Anh, ví dụ, nghĩa tiếng Việt
                    và từ đồng nghĩa nếu có.
                  </p>
                  <p style="text-align: justify">
                    2. Mỗi từ vựng đều được minh họa bằng hình ảnh trực quan, dễ
                    nhớ.
                  </p>
                  <p style="text-align: justify">
                    3. Tặng kèm 50 flashcard trắng để bạn tự tạo nội dung.
                  </p>
                  <p style="text-align: justify">
                    4.&nbsp;Tặng kèm miễn phí hệ thống học tập và kiểm tra online
                    tại www.blueup.vn. Mã kích hoạt có trong sản phẩm.
                  </p>
                  <p style="text-align: justify">Hệ thống cho phép:</p>
                  <p style="text-align: justify">
                    a. Cài đặt kế hoạch học tập và theo dõi tiến độ học.
                  </p>
                  <p style="text-align: justify">
                    b. Các bài kiểm tra thông minh được tạo dựa vào quá trình học
                    của bạn.
                  </p>
                  <p style="text-align: justify">
                    c. Hệ thống nhắc nhở học tập thông minh.
                  </p>
                  <p style="text-align: justify">d. Nghe phát âm chuẩn.</p>
                  <p style="text-align: justify">
                    e. Học thêm hơn 2000 từ gia đình và đồng nghĩa. Nghe phát âm
                    chuẩn. Bổ sung vốn từ và dễ dàng sử dụng trong nhiều tình
                    huống.
                  </p>
                  <p style="text-align: justify">
                    <strong>*** Hãy mua sản phẩm ngay</strong>
                  </p>
                  <p style="text-align: justify">
                    + Hàng nghìn người đã học và thấy được hiệu quả của
                    flashcard<a
                    href="https://tiki.vn/checkout/cart/add?product_id=189453&amp;coupon_code=978847742"
                  >.</a
                  >
                  </p>
                  <p style="text-align: justify">
                    + Có bạn đã từng học được gần 1.000 từ vựng/ tháng và nhớ rất
                    lâu.
                  </p>
                  <p style="text-align: justify">
                    + Hãy học bằng flashcard để đạt kết quả vượt trội và không còn
                    lo về từ vựng nữa.
                  </p>
                  <p>
                    Giá sản phẩm trên Tiki đã bao gồm thuế theo luật hiện hành.
                    Tuy nhiên tuỳ vào từng loại sản phẩm hoặc phương thức, địa chỉ
                    giao hàng mà có thể phát sinh thêm chi phí khác như phí vận
                    chuyển, phụ phí hàng cồng kềnh, ...
                  </p>
                </div>
                <div class="gradient"></div>
              </div>
              <a class="btn-more" data-view-id="pdp_view_description_button"
              >Xem Thêm Nội Dung</a
              >
            </div>
          </div>
        </div>
        <h4 class="BlockTitle__Wrapper-qpz3fo-0 jHTCJn">BÌNH LUẬN</h4>
        <div class="group">
          <div class="content">
            <nz-comment>
              <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
              <nz-comment-content>
                <nz-form-item class="w-50">
                  <textarea [(ngModel)]="inputValue" nz-input rows="4" class="w-100" placeholder="Vui lòng nhập nội dung đánh giá..."></textarea>
                </nz-form-item>
                <nz-form-item>
                  <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
                    Thêm bình luận
                  </button>
                </nz-form-item>
              </nz-comment-content>
            </nz-comment>
            <ng-container *ngFor="let cmt of comments">
              <div style="padding: 1rem;">
                <nz-comment [nzAuthor]="cmt?.customer?.customer_name || 'Khách lẻ'" [nzDatetime]="cmt?.distanceTime">
                  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]=" cmt?.customer?.image || 'assets/images/default-avatar.png'"></nz-avatar>
                  <nz-comment-content>
                    <p>
                      {{cmt?.content}}
                    </p>
                  </nz-comment-content>
                  <nz-comment-action>
                    <i nz-tooltip nzTitle="Like" nz-icon nzType="like" [nzTheme]="likes > 0 ? 'twotone' : 'outline'" (click)="like()"></i>
                    <span class="count like">{{ likes }}</span>
                  </nz-comment-action>
                  <nz-comment-action>
                    <i nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike" [nzTheme]="dislikes > 0 ? 'twotone' : 'outline'" (click)="dislike()"></i>
                    <span class="count dislike">{{ dislikes }}</span>
                  </nz-comment-action>
                  <nz-comment-action>Trả lời</nz-comment-action>
                </nz-comment>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
      <div class="right"></div>
    </div>
  </div>
</div>
