.jFkAwY {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.llsmxc {
  display: flex;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 4px 4px;
}

.iTTtrw {
  padding: 16px 0px 16px 16px;
  position: relative;
}

.giarZk {
  margin: 0px 12px;
  width: 1px;
  background: rgb(242, 242, 242);
  flex-shrink: 0;
}

.drtSpW {
  flex: 1 1 0%;

  .header {
    padding: 16px 24px 16px 0px;
    position: relative;

    .brand {
      display: flex;
      margin-top: 8px;
    }

    .title {
      margin: 0px 0px 4px;
      color: rgb(36, 36, 36);
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      max-width: 615px;
    }
  }
}

.djIasU {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
}

.drtSpW .body {
  padding: 0px 24px 0px 0px;
}

.drtSpW .body .summary {
  display: flex;
}

.drtSpW .body .summary .left {
  flex: 1 1 0%;
  padding-right: 12px;
}

.drtSpW .body .summary .left .price-and-icon {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
  padding: 12px 16px;
}

.etdfsC {
  background-color: rgb(255, 255, 255);
  margin: 16px 0px 0px;
  border-top: 1px solid rgb(242, 242, 242);
}

.etdfsC .delivery-zone__heading {
  display: flex;
  padding: 16px 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.etdfsC .delivery-zone__heading > div > .address {
  text-decoration: underline;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gyIkFE {
  display: flex;
  flex-direction: column;
  margin: 16px 0px 0px;
  padding: 16px 0px;
  border-top: 1px solid rgb(242, 242, 242);
}

.drtSpW .qty-and-message {
  display: flex;
  align-items: flex-end;
}

.iyaBQp .label {
  font-size: 15px;
  line-height: 1.6;
}

.iyaBQp .group-input {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
}

.iyaBQp .group-input button:first-child {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  padding: 4px;
}

.iyaBQp .disable > img {
  opacity: 0.4;
}

.iyaBQp .group-input input {
  width: 40px;
  border: 1px solid rgb(236, 236, 236);
}

.iyaBQp .group-input input {
  width: 40px;
  border: 1px solid rgb(236, 236, 236);
}

.gyIkFE .group-button {
  margin-top: 16px;
  flex: 1 1 0%;
  display: flex;
}

.drtSpW .add-to-cart .btn.btn-add-to-cart {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 57, 69);
}

.iTTtrw {
  padding: 16px 0px 16px 16px;
  position: relative;
}

.line-quantity {
  width: 166px;
  height: 35px;
}

.group-quantity {
  border-radius: 3px !important;
  background-color: var(--app-color);
  align-items: center;
}

.iTTtrw .group-images {
  display: flex;
  flex-direction: column;
  position: relative;
}

.iTTtrw .group-images .thumbnail {
  text-align: center;
}

.bhKhSH {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 444px;
  height: 444px;
}

.bhKhSH .container {
  position: relative;
  display: flex;
  width: 444px;
  height: 444px;
}

.kttJTC {
  padding-top: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.bhKhSH .container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.iTTtrw .image-badges {
  position: absolute;
  bottom: 0px;
}

.iTTtrw .review-images {
  flex: 0 0 100%;
  margin: 16px 0px 0px;
}

.iTTtrw .review-images__list {
  display: flex;
}

.iTTtrw .review-images__list a.active {
  border: 1px solid rgb(13, 92, 182);
}

.iTTtrw .review-images__list a {
  cursor: pointer;
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: 12px;
  border-radius: 4px;
  overflow: hidden;
}

.kttJTC {
  padding-top: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
}

.iTTtrw .review-images__list a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hQOEQo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  object-fit: contain;
}

.bwVgyp {
  margin-bottom: 40px;
}

.jHTCJn {
  margin: 0px 0px 10px;
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.bwVgyp .slider-container {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
}

.fNfByj {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.fNfByj .slick-track {
  display: flex;
}

.hmrZzB {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

.evEsoa {
  width: 200px;
  height: 200px;
  text-align: center;
  margin-bottom: 12px;
}

.hmrZzB .title {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
  margin: 0px;
  width: 100%;
  color: rgb(36, 36, 36);
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hmrZzB .price {
  margin: 0px;
  padding: 8px 0px 0px;
  align-self: stretch;
  color: rgb(36, 36, 36);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

.jHTCJn {
  margin: 0px 0px 10px;
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.iVoMSb .left .group {
  margin-bottom: 40px;
}

.iVoMSb .left .group .content.has-table {
  padding: 10px 20px;
}

.iVoMSb .left .group .content {
  padding: 20px;
  width: 100%;
  display: inline-block;
  color: rgb(36, 36, 36);
  line-height: 21px;
  text-align: justify;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}

.iVoMSb .left .group .content table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100% !important;
}

.iVoMSb .left .group .content table tr {
  font-size: 13px;
  border-bottom: 0px;
}

.content {
  width: 100%!important;
}
.iVoMSb .left .group .content table tr td:first-child {
  width: 220px;
  vertical-align: top;
  color: rgb(79, 79, 79);
  font-size: 13px;
  font-weight: 500;
  background: rgb(239, 239, 239);
}

.iVoMSb .left .group .content table tr:nth-child(2n) {
  background-color: rgb(250, 250, 250);
}

.iVoMSb .left .group .content table tr td {
  padding: 10px 15px;
}

.price-and-icon {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 12px 16px;
}

.product-price__current-price {
  font-size: 32px;
  line-height: 40px;
  margin-right: 8px;
  font-weight: 500;
}

.product-price__list-price {
  margin-right: 10px;
  text-decoration: line-through;
  font-size: 13px;
  line-height: 20px;
}

.product-price__discount-rate {
  font-size: 13px;
  line-height: 20px;
}

.dEZLTy {
  border-top: 1px solid rgb(38, 38, 38);
  margin-top: 16px;
}

.eLHrRT {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
}

.eLHrRT .coupon__text {
  font-size: 15px;
  font-weight: 500;
  color: rgb(19, 16, 16);
  flex: 1 1 0%;
  cursor: pointer;
}

.coupon__tags {
  display: flex;
  padding: 0px 4px 0px 0px;
  flex-wrap: wrap;
}

.lijGxt {
  padding: 16px 0px 0px;
  border-top: 1px solid rgb(38, 38, 38);
  margin: 16px 0px 0px;
}

.inner {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.inner span {
  color: rgb(39, 93, 155);
  font-weight: 500;
  cursor: pointer;
}

.coupon__tag {
  cursor: pointer;
  padding: 3px 12px;
  border: 1px solid rgb(39, 93, 155);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(153, 189, 230);
  position: relative;
  margin: 8px 12px 0px 0px;
}

.view-more-coupon {
  width: 28px;
  height: 28px;
  margin: 8px 0px 0px -12px;
  cursor: pointer;
}

.coupon__tag::before {
  left: -6px;
  transform: rotate(
      -45deg
  );
}

.coupon__tag::before, .eLHrRT .coupon__tag::after {
  content: "";
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(39, 93, 155) rgb(39, 93, 155) transparent;
  border-image: initial;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
}

.eLHrRT .coupon__tag::after {
  content: "";
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(39, 93, 155) rgb(39, 93, 155) transparent;
  border-image: initial;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
}

.eLHrRT .coupon__tag::after {
  right: -6px;
  transform: rotate(
      135deg
  );
}
.price {
  margin: 0px;
  padding: 8px 0px 0px;
  align-self: stretch;
  color: rgb(191, 191, 191);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}

.price .percent {
  margin-left: 8px;
  color: rgb(191, 191, 191);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
}

.price .original {
  display: block;
  margin-left: 0px;
  color: rgb(191, 191, 191);
  font-size: 13px;
  font-weight: 300;
  text-decoration: line-through;
}

.hmrZzB:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
  z-index: 1;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

.rating-list-2 li {
  float: right;
  color: #ddd;
  padding: 10px 5px;

}

.rating-list li:hover,
.rating-list li:hover ~ li, .rating-list li.selected {
  color: #ffd700;
}

.rating-list-2 li.selected {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

.rating-list-2 {
  width: 50px;
  height: 50px;
  display: inline-block;
  list-style: none;
}

.count {
  padding-left: 8px;
  cursor: auto;
}
.ant-comment-rtl .count {
  padding-right: 8px;
  padding-left: 0;
}
