<div class="item-row py-2 ">
  <div class="row">
    <div class="col align-self-center  text-center text-app font-weight-bold" style="max-width: 150px;">{{book_item?.id | standardizedId}}</div>
    <div class="col align-self-center text-center" style="max-width: 150px;">
      <img [src]="book_item?.imageUrl || 'assets/images/default-book.png'"
           style="height: 80px; width: 60px; object-fit: cover;" alt="" />
    </div>
    <div class="col align-self-center text-center text-app "><b>{{book_item?.name || "-"}}</b></div>
    <div class="col align-self-center text-center" style="max-width: 200px;">{{(book_item?.costPrice | vnd)|| "-"}}</div>
    <div class="col align-self-center text-center" style="max-width: 200px;">{{(book_item?.retailPrice | vnd ) || "-"}}</div>
    <div class="col align-self-center text-center" style="max-width: 200px;">{{book_item?.amount|| "-"}}</div>
  </div>
</div>
