<div class="">
  <div class="d-flex justify-content-center align-items-center text-app font-weight-bold">
    <h1 class="font-weight-bold">Đăng ký tài khoản nhân viên</h1>
  </div>
  <div class="d-flex flex-row p-5 mb-4" [formGroup]="createAccountForm">
    <div class="avatar col-3 mb-4">
      <div class="d-flex flex-column app-flex">
        <div class="product-detail-img"  style="height: 400px; width: 300px; object-fit: cover;">
          <label class="logo-upload m-0 border rounded h-100 w-100"
          [style.background-image]="'url(' + (createAccountForm.value.image || 'assets/images/default-avatar.png') + ')'">
            <div class="mask pt-2">Upload ảnh <i class="fas fa-cloud-upload-alt text-white"></i></div>
            <div class="over-logo rounded m-0 p-0">
              <i class="fa fa-camera" aria-hidden="true"></i>
            </div>
            <div class="upload-loading m-0 p-0">
              <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            </div>
            <input accept="image/png,image/jpg,image/jpeg,image/gif" name = "file"  class="d-none" type="file"  (change)="onChangeLogo($event)"/>
          </label>
        </div>
        <h1 class="text-app text-center font-weight-bold">Hình ảnh đại diện</h1>
      </div>
    </div>

    <div class="col-9 d-flex flex-column">
      <div class="d-flex flex-column">
        <div class="row py-3">
          <h1 class="col-10 app-flex"><b>Thông tin tài khoản</b></h1>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Tên tài khoản: </b></div>
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Nhập tên tài khoản" formControlName="account_name"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Mật khẩu: </b></div>
          <div class="col-9">
            <input type="password" class="form-control" placeholder="Nhập mật khẩu"
            formControlName="password"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Xác nhận mật khẩu: </b></div>
          <div class="col-9">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu"  formControlName="confirm_password"
            />
          </div>
        </div>

        <div class="row py-3">
          <h1 class="col-10 app-flex"><b>Thông tin người dùng</b></h1>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Chức vụ: </b></div>
          <div class="col-9">
            <select class=" form-control" placeholder="Chọn chức vụ" autofocus  formControlName="role_id">
              <option value="" selected disabled hidden>Chọn chức vụ</option>
              <option value="1" style="background-color: white; color: var(--app-color)" class="py-3">Quản lý</option>
              <option value="2" style="background-color: white; color: var(--app-color)" class="py-3">Nhân viên</option>
            </select>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Họ: </b></div>
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Nhập họ nhân viên"  formControlName="last_name"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Tên: </b></div>
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Nhập tên nhân viên"  formControlName="first_name"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Mã thẻ căn cước(*): </b></div>
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Nhập mã thẻ căn cước(*)"  formControlName="identity_id"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Địa chỉ email: </b></div>
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Nhập địa chỉ email"  formControlName="email"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Số điện thoại: </b></div>
          <div class="col-9">
            <input type="text" class="form-control" placeholder="Nhập giá trị giảm giá"
            formControlName="phone"
            />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Ngày sinh: </b></div>
          <div class="col-9">
            <input type="date" id="birthDate" name="birthDate" class="form-control" placeholder="Nhập ngày sinh" autofocus  formControlName="birthdate" matTooltip="Vui lòng nhập ngày sinh"  matTooltipPosition="above" />
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Địa chi: </b></div>
          <div class="col-9">
            <input type="text" class="  form-control" placeholder="Nhập địa chỉ" autofocus  formControlName="address"/>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Giới tính: </b></div>
          <div class="col-9">
            <select class=" form-control" placeholder="Chọn giới tính" autofocus  formControlName="gender">
              <option value="" selected disabled hidden>Chọn giới tính</option>
              <option value="true" style="background-color: white; color: var(--app-color)">Nam</option>
              <option value="false" style="background-color: white; color: var(--app-color)">Nữ</option>
            </select>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-2 app-flex"><b>Ghi chú: </b></div>
          <div class="col-9">
          <textarea class="form-control" placeholder="Nhập ghi chú" formControlName="note"></textarea>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="row py-3">
          <div class="col-2 app-flex">
            <div class="btn btn-outline-app" (click)="goBack()"> <i class="fa fa-arrow-left pr-1" aria-hidden="true">
              </i> Quay lại</div>
          </div>
            <div class="col-9 d-flex flex-row justify-content-end">
              <div class=" btn-outline-app  align-self-center mr-2" (click)="ResetDataForm()">
                <span class="ml-1" style="width: 60px;">Đặt lại</span>
              </div>
              <div class="btn-app  align-self-center" (click)="CreateEmployeeAndAccount()">
                <span>Đăng ký</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
