.detail-title {
    p {
        height: 39px;
        box-sizing: border-box;
    }
}
.detail-info {
    // input,select {
    //     margin-bottom: 18px;
    //     height: 39px;
    //     box-sizing: border-box;
    // }
}
.product-detail-img {
    text-align: center;
    border-radius: 5px;
    position: relative;
  }
  
  .logo-upload {
    width: 100%;
    padding-bottom: 100%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    .upload-loading,
    .over-logo {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      background: rgba(0, 0, 0, 0.8);
      color: var(--white-color);
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
    &.loading {
      .upload-loading {
        display: flex;
      }
    }
    .mask {
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      font-size: 3rem;
      text-align: center;
      font-weight: 600;
      width: 100%;
      height: 25%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    &:hover .mask {
      display: block;
      animation: goup 0.6s ease-out;
    }
    &.loading {
      .upload-loading {
        display: flex;
      }
    }
  }
  
  .product-slide-item {
    thead {
      background-color: var(--light);
    }
    th {
      font-weight: 400;
      padding: 7px 15px;
      border-bottom: 1px solid var(--border-gray-color);
      border-top: 1px solid var(--border-gray-color);
    }
    td {
      padding: 10px 15px;
    }
    tr {
      border-bottom: 1px solid var(--border-gray-color);
    }
  }
  
  .add-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none !important;
  }
  