.wrapper-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .login-body {
    height: 90%;
    display: flex;
    flex-direction: row;
    color: #fff;
    .title-school {
        border-bottom: 1px solid var(--app-color);
    }
  }
  .login-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightgray;
    font-size: 13px;
    .left-side, .right-side {
      
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.left-side {
  width: 60%;
  height: 100%;
  .brand-text {
    font-weight: 700;
    color: grey;
    line-height: 35px;
  }
  .images {
      width: 100%;
      height: 100%;
  }
  .welcome {
    background-repeat: none;
    background-size: cover;
    opacity: 0.8;
  }
  .bookmark {
      font-size: 14px;
      color: gray;
  }
}

.right-side {
  width: 40%;
  height: 100%;
  background-color: var(--app-color);
  .info {
    font-size: 14px;
  }
  .form-group {
    margin-bottom: 1.2rem;
    .form-control {
      height: 40px;
      font-weight: 600;
      font-size: 15px;
      padding: 0.375rem 1.2rem;
      color: #fff;
      background-color: var(--app-color);
    }
    ::placeholder {
        color: #fff;
        font-size: 14px;
        opacity: 0.7;
    }
  }
  .changephone-text {
    right: 15px;
    color:#fff;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;  
    font-size: 13px;
  }
  .forgot {
      font-size: 13px;
      font-weight: lighter;
      &:hover {
        text-decoration: underline;
      }
  }
}