<div class="item-row py-2 ">
    <div class="row">
      <div class="col align-self-center  text-center text-app font-weight-bold" style="max-width: 150px;">{{employee_item?.employee_id | standardizedId}}</div>
      <div class="col align-self-center text-center" style="max-width: 150px;">
        <img [src]="employee_item?.image || 'assets/images/default-avatar.png'"
             style="height: 80px; width: 60px; object-fit: cover;" alt="" />
      </div>
      <div class="col align-self-center text-center text-app "><b>{{employee_item?.last_name + ' ' + employee_item?.first_name || "-"}}</b></div>
      <div class="col align-self-center text-center" style="max-width: 300px;">{{employee_item?.identity_id || "-"}}</div>
      <div class="col align-self-center text-center" style="max-width: 200px;">
        {{employee_item?.phone || "-"}}
      </div>
      <div class="col align-self-center text-center" >{{employee_item?.note || "-"}}</div>
    </div>
  </div>
