<app-item-table>
  <ng-template #header></ng-template>
  <ng-template #emptyItem>
    <p>Day la the item nà</p>
  </ng-template>
  <ng-template #item>
    <div class="search-form row app-flex mb-3"  >
      <div class="btn-app rounded-pill col-1" (click)="openCreateRoleModal()">Thêm mới</div>
    </div>
    <div class=" d-flex flex-column h-100">
      <div class="table mt-3">
        <div class="table-header row font-weight-bold text-uppercase ng-star-inserted align-items-center my-3">
          <div class="col text-center text-app" style="max-width: 350px;">Mã vai trò</div>
          <div class="col text-center  text-app" style="max-width: 350px;">Tên vai trò</div>
          <div class="col text-center text-app">Ghi chú</div>
        </div>
      </div>
      <ng-container *ngFor="let role_item of roles.slice().reverse(), let i = index">
        <app-role-row [role_item]="role_item" [index]="i" (click)="onViewRoleDetail(role_item.role_id)"></app-role-row>
      </ng-container>
    </div>
  </ng-template>
</app-item-table>
