<div class="sidebar-menu d-flex flex-column">
  <ng-container *ngFor="let menuItem of menuItems">
    <div class="menu-item d-flex flex-row " routerLinkActive="active"  (click)="onRedirect(menuItem.routerLink)" >
      <div class="menu-icon d-flex justify-content-center align-items-center"><span [outerHTML]="menuItem.iconHtml"></span></div>
      <div class="menu-slider d-flex justify-content-center align-items-center">{{menuItem.itemTitle}}</div>
    </div>
  </ng-container>
  <div class="menu-item d-flex flex-row "   (click)="onLogout()" >
    <div class="menu-icon d-flex justify-content-center align-items-center"><i class="fa fa-2x fa-sign-out" aria-hidden="true"></i></div>
    <div class="menu-slider d-flex justify-content-center align-items-center">Đăng xuất</div>
  </div>
</div>