.box {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  border-radius: 7px;
  border: 1px solid #eee;
}

.setting-box {
  margin-top: 1.25rem;
}

.setting-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.setting-body, .setting-footer, .setting-header {
  padding: 1.5rem;
}

.setting-body, .setting-header {
  border-bottom: 1px solid lightgray;
}

.setting-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note {
  padding: .5rem 0;
  text-align: left;
}

.read-only {
  cursor: not-allowed;
}

.menu-list div {
  display: block;
  font-size: 1.2rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
  color: gray;

  &.active {
    background-color: #f5f5f5;
    border-radius: 0.4rem;
    color: var(--app-color);
  }

  &:first-child {
    font-weight: bold;
  }

  &:focus {
    border: 0px solid !important;
    outline: 0px;
  }
}

a {
  text-decoration: none;
}

.menu-sidebar {
  padding: 2.5rem;
}

.send-content-message {
  width: auto;
  text-align: left;
  max-width: 80%;
  padding: 6px 10px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  background-color: var(--app-color);
  color: white;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.reply-content-message {
  width: auto;
  text-align: left;
  max-width: 80%;
  padding: 6px 10px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  background-color: lightgray;
  color: black;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.message {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 3px;
}

.message-box {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

.layout-box {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.category-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  gap: 12px 10px;
}

.category-item {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(36, 36, 36);

  img {
    width: 60px;
  }

  cursor: pointer;
}

.home-search {
  .home-search-header {
    font-size: 20px;
    line-height: 28px;
    padding: 10px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: default;
    text-transform: uppercase;

    img {
      height: 28px;
    }
  }

  .left {
    font-size: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: uppercase;
  }

  .right {
    font-size: 10px;
    line-height: 24px;
    color: rgb(13, 92, 182);
    cursor: pointer;
  }

  .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 16px;

    a {
      cursor: pointer;
      align-items: center;
      color: rgb(36, 36, 36);
      border-radius: 8px;
      border: 1px solid rgb(238, 238, 238);
    }

    .picture-group {
      display: flex;
      padding: 8px;
      width: 100%;
      -webkit-box-pack: justify;
      justify-content: space-between;

      img {
        width: 80px;
      }
    }

    .content {
      background-color: rgb(211, 238, 255);
      display: flex;
      flex-direction: column;
      padding: 8px 12px;
      align-self: flex-start;
      width: 100%;
      flex: 1 1 0%;
    }
  }
}

.product-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(242, 242, 242);

  .header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 999;
    background: white;
    border-radius: 4px 4px 0px 0px;

    .tab {
      display: flex;
      width: 248px;
      -webkit-box-pack: center;
      justify-content: center;
      flex-shrink: 0;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(242, 242, 242);
    justify-content: space-between;
    .product-item {
      text-decoration: none;
      display: flex;
      position: relative;
      cursor: pointer;

      .wrap-product-item {
        display: flex;
        padding: 12px 6px;
        color: rgb(36, 36, 36);
        text-decoration: none;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
      }

      .thumbnail {
        flex-shrink: 0;
        width: 200px;
        height: 200px;
        margin: 0px 12px;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }
  }

  .info {
    padding: 10px 15px;
  }

  .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.layout-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(239, 239, 239);
}

.jFkAwY {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jGFkeY {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 0px 16px;
  margin-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
}

.jGFkeY > .content {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  border-top: 1px solid rgb(38, 38, 38);
  justify-content: space-between;
}



.jGFkeY > .content .product-item {
  text-decoration: none;
  display: flex;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
}

.content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  }
}
img {
  max-width: 100%;
}
.gTeiZp {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 16px 0px;
  padding: 16px 0px;
  text-align: center;
  border-radius: 4px;
}

.gTeiZp .item {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  flex-basis: 131px;
  flex-shrink: 0;
}

.gTeiZp .item > img {
  width: 58px;
  height: 58px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.jGFkeY > .content .product-item {
  text-decoration: none;
  display: flex;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
}

.khGMIT {
  display: flex;
  padding: 12px 16px;
  color: rgb(191, 191, 191);
  text-decoration: none;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.info {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.khGMIT .thumbnail {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  margin: 0px 12px;
  text-align: center;
  img {
    width: 200px;
    height: 200px;
    object-fit: fill;
  }
}

.khGMIT .badge-top {
  position: absolute;
  z-index: 2;
}

.khGMIT .badge-service {
  margin-bottom: 8px;
  margin-top: 12px;
}

.khGMIT .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.khGMIT .name > span {
  font-size: 13px;
  font-weight: 400;
  margin: 0px 0px 4px;
  line-height: 20px;
}

.khGMIT .rating-review {
  display: flex;
  margin-top: 4px;
}

.khGMIT .rating {
  position: relative;
  margin: 0px 4px 0px 0px;
}

.khGMIT .rating__average {
  white-space: nowrap;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.khGMIT .review {
  font-size: 11px;
  line-height: 16px;
  color: rgb(191, 191, 191);
}

.khGMIT .price-discount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
}

.khGMIT .price-discount__discount {
  font-size: 13px;
  line-height: 20px;
  border-radius: 2px;
  background: rgb(192, 48, 58);
  color: rgb(255, 255, 255);
  padding: 0px 2px;
  margin-left: 1rem;
}

.khGMIT .badge-benefits {
  margin-top: 8px;
}

.khGMIT .badge-additional-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.jGFkeY > .view-more {
  margin-top: 12px;
  font-weight: 500;
}

.fwzWaW {
  cursor: pointer;
  display: inline-block;
  width: 240px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgb(39, 93, 155);
  color: rgb(153, 189, 230);
  font-size: 13px;
  text-align: center;
}

.disabled{
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
