<div class="content-layout">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/images/slider.png.jpg" alt="First slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/images/slider.png.jpg" alt="Second slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/images/slider.png.jpg" alt="Third slide" />
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="category layout-box">
      <h2>Danh mục nổi bật</h2>
      <div class="category-content">
        <div class="Container-itwfbd-0 jFkAwY">
          <div data-view-id="home_quicklinks_tab_container" class="style__StyledIconWidgets-zkcvo4-0 gTeiZp">
            <ng-container *ngFor="let category of (categories$ | async).slice(0, 10)">
              <a href="https://tiki.vn/khuyen-mai/ma-giam-gia?src=top_desktop_icon" class="item"
                data-view-id="home_quicklinks_tab_item" data-view-index="0"><img [src]="
                    category?.image || 'assets/images/category-item.jpeg'
                  " class="thumb" /><span>{{ category?.category_name }}</span></a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>


    <div class="search-summary">
      <div class="category layout-box">
        <h2>Kết quả tìm kiếm (<span>{{ (book_list_view$ | async)?.items.length }} sản phẩm</span>)</h2>
        <div data-view-id="home_infinity_tab_content" data-view-index="0"
          class="style__StyledInfiniteScroll-sc-1xjioqa-0 jGFkeY">
          <div class="content">
            <h4 class="Sorter__Bottom-sc-1u1tc3w-2 bvZuzo py-2">
              <div data-view-id="search_sort_container" class="Sorter__Tabs-sc-1u1tc3w-3 hhXHWC">
                <div class="sort-list">
                  <a data-view-id="search_sort_item" data-view-index="0" class="" href="#"
                    style="color: black; font-weight: bold; font-size: 1.3rem;">Phổ biến</a><a
                    data-view-id="search_sort_item" data-view-index="1" class="" href="#"
                    style="color: black; font-weight: bold;font-size: 1.3rem;">Bán chạy</a><a
                    data-view-id="search_sort_item" data-view-index="2" class="" href="#"
                    style="color: black; font-weight: bold;font-size: 1.3rem;">Hàng mới</a><a
                    data-view-id="search_sort_item" data-view-index="3" class="" href="#"
                    style="color: black; font-weight: bold;font-size: 1.3rem;">Giá thấp</a><a
                    data-view-id="search_sort_item" data-view-index="4" class="active" href="#"
                    style="color: black; font-weight: bold;font-size: 1.3rem;">Giá cao</a>
                </div>
              </div>
            </h4>
            <h5 class="row app-flex my-4 justify-content-between">
              <input type="text" class="form-control  col-3 p-4 mr-3" placeholder="Nhập mã sách"
                [(ngModel)]="book_id" />
              <input type="text" class="form-control col-3 p-4 mr-3" placeholder="Nhập tên sách"
                [(ngModel)]="searchKeyword" />
              <input type="number" class="form-control col-3 p-4 mr-3" placeholder="Giá từ" [(ngModel)]="from_price" />
              <input type="number" class="form-control col-3 p-4 mr-3" placeholder="Giá đến" [(ngModel)]="to_price" />
              <select class="form-control col-3 p-2  mr-3" name="category" [(ngModel)]="supplier_id">
                <option value="" selected>Chọn nhà cung cấp</option>
                <option *ngFor="let supplier of suppliers$ | async" [ngValue]="supplier.supplier_id"
                  class="font-weight-bold">
                  {{ supplier?.contact_name }}
                  <div class="px-3 py-2">
                    <i class="fa fa-plus"></i>
                  </div>
                </option>
              </select>
              <select class="form-control col-3 p-2 mr-3" name="category" [(ngModel)]="category_id">
                <option value="" selected>Chọn thể loại</option>
                <option *ngFor="let category of categories$ | async" [ngValue]="category.category_id"
                  class="font-weight-bold">
                  {{ category?.category_name }}
                  <div class="px-3 py-2">
                    <i class="fa fa-plus"></i>
                  </div>
                </option>
              </select>

            </h5>
            <h5 class="text-center" style="    width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;">
              <div class="btn-app rounded-pill" (click)="SearchBooks()" style="min-width: 186px">
                Tìm kiếm
              </div>
            </h5>
            <ng-container *ngFor="let product of (book_list_view$ | async)?.items">
              <div style="width: 20%; margin: 1.5rem" class="app-flex" (click)="onDetail(product.book_id)">
                <a class="product-item" data-view-id="home_infinity_products">
                  <span class="style__StyledItem-sc-1bp67fh-0 khGMIT">
                    <div class="app-flex flex-column">
                      <div class="thumbnail">
                        <div class="badge-top"></div>
                        <img [src]="product?.image ||
                            'assets/images/default-book.png'
                          " alt="Combo 3 Tập Độc Giả Và Nhân Vật Chính Đích Thị Là Chân Tình (Tập 3-4-5) " />
                      </div>
                      <div class="info app-flex flex-column">
                        <div class="badge-service"></div>
                        <div class="name">
                          <span>{{ product?.book_name }} </span>
                        </div>
                        <div class="rating-review">
                          <div class="rating">
                            <div class="rating__total">
                              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(199, 199, 199)" ne="0.44717265765390124">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(199, 199, 199)" ne="0.15174151178090267">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(199, 199, 199)" ne="0.4629776165789872">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(199, 199, 199)" ne="0.37146920567034214">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#c7c7c7" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(199, 199, 199)" ne="0.5835421053358021">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg>
                            </div>
                            <div class="rating__average" style="width: 94%">
                              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(230, 214, 153)" ne="0.8141172550544347">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(230, 214, 153)" ne="0.4837405503607197">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(230, 214, 153)" ne="0.6353039783944852">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(230, 214, 153)" ne="0.8882721932905131">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                size="12" color="#fdd836" height="12" width="12" xmlns="http://www.w3.org/2000/svg"
                                style="color: rgb(230, 214, 153)" ne="0.3647343053482679">
                                <path
                                  d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                </path>
                              </svg>
                            </div>
                          </div>
                          <div class="review">(17)</div>
                        </div>
                        <div class="price-discount">
                          <div class="price-discount__price">
                            {{ product?.retail_price | vnd }}
                          </div>
                          <div class="price-discount__discount">-30%</div>
                        </div>
                        <div class="badge-under-price"></div>
                        <div class="badge-benefits"></div>
                        <div class="badge-additional-info"></div>
                      </div>
                    </div>
                  </span></a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
