<div class="modal-header">
  <div class="modal-title big-font">
    Xác nhận trả sách 
  </div>
  <div class="close" (click)="dismissModal()">
    <span class="text-large">&times;</span>
  </div>
</div>
<div class="modal-body">
  <div>Bạn có chắc chắn muốn hoàn thành phiếu mượn sách <b>{{borrow_ticket_id | standardizedId}}</b> không ? </div>
</div>
<div class="modal-footer">
  <button class="btn btn-app btn-outline-app" (click)="dismissModal()">Đóng</button>
  <button class="btn btn-app text-white" (click)="OnFinishBorrowTicket()">
    Xác nhận
  </button>
</div>
