<div class="modal-header">
  <h4 class="font-weight-bold">Thay đổi mật khẩu</h4>
</div>
<div class="modal-body">
  <div class="row py-3">
    <div class="col-12">
      <input type="password" class="form-control" placeholder="Mật khẩu mới"   [(ngModel)]="change_password_data.new_password"
      />
    </div>
  </div>
  <div class="row py-3">
    <div class="col-12">
      <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới"   [(ngModel)]="change_password_data.confirm_new_password"
      />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn-outline-app btn-default" (click)="dismissModal()">Hủy</button>
  <button type="submit" class="btn-app" [disabled]="loading" (click)="ChangePassword()">
    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" *ngIf="loading"></i> Đặt lại mật khẩu</button>
</div>
