<section id="footer">
  <div class="container-fluid py-5" style="margin-inline: 100px">
    <div class="row text-left text-xs-left text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h2 style="font-weight: bold">HỖ TRỢ KHÁCH HÀNG</h2>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Các câu hỏi thường gặp</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Hướng dẫn đặt hàng</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Gửi yêu cầu hỗ trợ</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Phương thức vận chuyển</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Chính sách đổi trả</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Hướng dẫn trả góp</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Chính sách hàng nhập khẩu</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Hỗ trợ khách hàng: hotro@taha.vn</a
            >
          </li>
          <li>
            <a href="javascript:void();" style="color: #333333"
              >Báo lỗi bảo mật: security@taha.vn</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h2 style="font-weight: bold">VỀ CHÚNG TÔI</h2>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();">Giới thiệu</a></li>
          <li><a href="javascript:void();">Tuyển dụng</a></li>
          <li><a href="javascript:void();">Gửi yêu cầu hỗ trợ</a></li>
          <li>
            <a href="javascript:void();">Chính sách bảo mật thanh toán</a>
          </li>
          <li>
            <a href="javascript:void();"
              >Chính sách bảo mật thông tin cá nhân</a
            >
          </li>
          <li>
            <a href="javascript:void();">Chính sách giải quyết khiếu nại</a>
          </li>
          <li><a href="javascript:void();">Điều khoản sử dụng</a></li>
          <li><a href="javascript:void();">Bán hàng doanh nghiệp</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h2 style="font-weight: bold">HỢP TÁC VÀ LIÊN KẾT</h2>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();">Quy chế hoạt động sàn</a></li>
          <li><a href="javascript:void();">Bán hàng cùng chúng tôi</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h2 style="font-weight: bold">PHƯƠNG THỨC THANH TOÁN</h2>
        <div class="row">
          <div class="col-3">
            <img
              class="icon w-100"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/visa.svg"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              class="icon w-100"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/mastercard.svg"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              class="icon w-100"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/jcb.svg"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              class="icon w-100"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/cash.svg"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              class="icon w-100"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/internet-banking.svg"
              alt=""
            />
          </div>
          <div class="col-3">
            <img
              class="icon w-100"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/installment.svg"
              alt=""
            />
          </div>
          <div class="col-3">
            <img class="w-100" src="https://developers.momo.vn/images/logo.png" />
          </div>
        </div>
        <ul class="list-unstyled list-inline row"></ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="footer-widget">
          <h2>ĐĂNG KÝ NHẬN BẢN TIN TAHA</h2>
          <span class="animate-border border-black"></span>
        </div>
        <p style="margin-top: 15px">
          Đừng bỏ lỡ ngàn sản phẩm và chương trình siêu hấp dẫn
        </p>
        <form action="#">
          <div class="form-row">
            <div class="col dk-footer-form">
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
              />
              <button type="submit">
                <i class="fa fa-send"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6">
        <div>
          <h2 style="font-weight: bold">KẾT NỐI VỚI CHÚNG TÔI</h2>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="javascript:void();"
                ><img src="https://img.icons8.com/nolan/50/facebook-new.png"
              /></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"
                ><img src="https://img.icons8.com/nolan/50 /instagram-new.png"
              /></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"
                ><img src="https://img.icons8.com/nolan/50/youtube-music.png"
              /></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();" target="_blank"
                ><img src="https://img.icons8.com/nolan/50/email.png"
              /></a>
            </li>
          </ul>
        </div>

        <div>
          <h5 style="font-weight: bold">TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h5>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="javascript:void();"
                ><img
                  src="https://img.icons8.com/color/50/000000/google-play.png"
              /></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"
                ><img
                  src="https://img.icons8.com/dusk/50/000000/apple-app-store--v2.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div>
      <div class="col-xs-12 col-sm-6 col-md-12">
        <h5>
          <span style="font-weight: bold">Địa chỉ văn phòng: </span>52 Út Tịch,
          phường 4, quận Tân Bình, thành phố Hồ Chí Minh TAHA nhận đặt hàng trực
          tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực tiếp tại
          văn phòng hoặc trung tâm xử lý đơn hàng
        </h5>
      </div>
    </div>

    <div class="column" style="margin-top: 100px">
      <div class="text-left" style="font-weight: bold; font-size: 15px">
        <div class="column">
          <div class="col-md-10 col-sm-6 col-xs-12">
            <p style="padding-top: 10px">
              Copyright &copy; 2017 All Rights Reserved by TAHA
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <a
          href="https://hotro.tiki.vn/hc/vi/articles/115005575826"
          rel="noreferrer"
          aria-label=""
          ><img
            src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/bo-cong-thuong-2.png"
            width="36"
            alt=""
        /></a>
        <a
          href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=21201"
          rel="noreferrer"
          aria-label=""
          ><img
            src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/bo-cong-thuong.svg"
            width="120"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
