<app-item-table>
  <ng-template #header></ng-template>
  <ng-template #emptyItem>
    <p>Day la the item nà</p>
  </ng-template>
  <ng-template #item>

    <div class=" d-flex flex-column h-100">
      <div class="row app-flex mb-3">
        <input type="text" class="form-control rounded-pill col-2 p-4 mr-3" placeholder="Nhập mã sách" [(ngModel)]="book_id"/>
        <input type="text" class="form-control rounded-pill col-2 p-4 mr-3" placeholder="Nhập tên sách" [(ngModel)]="searchKeyword"/>         <select class="form-control col-2 p-2 rounded-pill mr-3" name="category" [(ngModel)]="supplier_id"  >
        <option value="" selected>Chọn nhà cung cấp
        </option>
        <option *ngFor="let supplier of suppliers$ | async" [ngValue]="supplier.supplier_id" class="font-weight-bold">
          {{supplier?.contact_name}}
          <div class=" px-3 py-2">
            <i class="fa fa-plus"></i>
          </div>
        </option>
      </select>
        <select class="form-control col-2 p-2 rounded-pill mr-3" name="category" [(ngModel)]="category_id"  >
          <option value="" selected>Chọn thể loại
          </option>
          <option *ngFor="let category of categories$ | async" [ngValue]="category.category_id" class="font-weight-bold">
            {{category?.category_name}}
            <div class=" px-3 py-2">
              <i class="fa fa-plus"></i>
            </div>
          </option>
        </select>
        <div class="btn-app rounded-pill col-1" (click)="SearchBooks()">Tìm kiếm</div>
      </div>
      <div class="table mt-3">
        <div class="table-header row font-weight-bold text-uppercase ng-star-inserted align-items-center my-3">
          <div class="col text-center text-app" style="max-width: 150px;">Mã sách</div>
          <div class="col text-center  text-app" style="max-width: 150px;">Hình ảnh</div>
          <div class="col text-center text-app">Tên sách</div>
          <div class="col text-center text-app" style="max-width: 300px;">Tác giả</div>
          <div class="col text-center text-app" style="max-width: 200px;">Nhà cung cấp</div>
          <div class="col text-center text-app" style="max-width: 200px;">Giá vốn</div>
          <div class="col text-center text-app" style="max-width: 200px;">Giá bán</div>
          <div class="col text-center text-app" style="max-width: 200px;">Tổng lượng</div>
        </div>
      </div>
      <ng-container *ngFor="let book_item of (book_list$ | async)?.items.slice().reverse(), let i = index">
        <app-book-row [book_item]="book_item" [index]="i" (click)="onViewBookDetail(book_item.book_id)"></app-book-row>
      </ng-container>
      <app-page-pagination class="mt-auto" (navigate)="navigate($event)" [paginationOpt]="current_pagination_opt$" [currentPage]="current_page$ | async">
      </app-page-pagination>
    </div>
  </ng-template>
</app-item-table>
