.navigation {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
  
    .page-item {
      &.disabled {
        cursor: not-allowed;
        .page-link {
          pointer-events: none;
          color: darkgray;
          .fa {
            color: darkgray;
          }
        }
      }
    }
  
    .page-item.disabled {
      .page-link {
        pointer-events: none;
        color: darkgray;
      }
    }
  
    .page-link {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: var(--app-color);
      background-color: #f5f5f5 ;
      border: 1px solid #bcc1c5;
    }
  }
  
  
  