<div class="header-dark">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Company Name</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" href="#">Danh mục sản phẩm </a>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" role="presentation"href="#">First Item</a>
                          <a class="dropdown-item" role="presentation" href="#">SecondItem</a>
                          <a class="dropdown-item" role="presentation" href="#">Third Item</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group">
                      <input placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn" class="form-control search-field" type="search" name="search" id="search-field">
                      <label for="search-field"><i class="fa fa-search"></i></label>
                    </div>
                </form>
                <div class="">
                    <span class="material-icons">
                        account_circle
                    </span>
                    <span class="navbar-text ml-2"><a href="#" class="login">Đăng nhập / </a></span>
                    <span class="navbar-text"><a href="#" class="login">Đăng kí</a></span>
                </div>
                <div class="ml-3 cart-wrapper">
                    <a class="shopping_cart"role="button" href="#">
                        <span class="material-icons">
                            shopping_cart
                        </span>
                        Giỏ hàng
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>